*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--marrom-maisclaro)
}
*::-webkit-scrollbar-track {
    background: var(--fundo-pag)
}

html {
    font-size: 10px;
}

:root{
    --marrom-escuro: #532728;
    --marrom-claro: #f3ddb6;
    --marrom-maisclaro:#d6bf93;
    --fundo-pag:#d6bf932f;

}

.container-mae {
    display: grid;
    grid-template-rows: 15vh 1fr 15vh;
    width: 100vw;
    
}

/* Estilização do header */

header{
    grid-row: 1/2;
    background-color: var(--marrom-escuro);
    height: 100%;
    width: 100%;
    /* position: fixed;
    top: 0; */
}

.nav-desktop{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 20px;
}
  
    


.nav-desktop a:hover{
    color:var(--marrom-claro);
}



.nav-esq{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    height: 100%;
    gap: 25px;

}

.nav-esq a{
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    color:white;
}

#logo{
    height: 90%;
    border-radius: 50%;
}


.nav-dir a{
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    color:white;
}

.nav-dir{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}
/*fim do header-descktop*/
/* =================================== */
/* início do header mobile */
/* container principal */
.nav-mobile{
    display:none;
    height: 100%;
    padding: 20px;
}
.nav-mobile a{
    height: 100%;
}
#logo-mobile{
    height: 90%;
    border-radius: 50%;
}
/* nav sem apresentar os itens de navegação */
.mobile-before{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.mobile-before i{
    /* display: none; */
    color: var(--marrom-maisclaro);
    font-size: 4rem;
    cursor:pointer;
}
.mobile-items{
    display: none;
    background-color: var(--marrom-escuro);
    padding: 10px;
    /* transition-delay: 250ms; */
}
.mobile-items a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;  
    padding: 5px;
    width: 100%;
    text-align: center;
    /* border: 0.5px solid; */
}


/* main */
main{
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fundo-pag);
    gap:50px;
    padding: 30px;
}
/* estilização texto da main  */
.main-frase{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#main-text-title{
    font-size: 3rem;
}
#main-texto-menor{
    font-size: 1.7rem;
    color: rgb(77, 74, 74);
}
/* estilização da busca pela localização  */
.main-localiza{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    
}
.main-localiza-input{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px -2px darkgray
    
}
#search-input{
    width: 98%;
    padding: 5px;
    font-size:1.5rem;
    border: none;
    outline: none;
}
#icon-local{
    font-size: 1.8rem;
    color: var(--marrom-escuro);
}
#search-button{
    cursor: pointer;
    border:none;
    border-radius: 5px;
    outline: none;
    background-color: var(--marrom-escuro);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px;
}
/* estilização dos cards de mercado e restaurante  */
.main-cards-options{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}
.card-option{
    width: 45%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 2px darkgray;
    text-decoration: none;
}
.card-title{
    font-size: 2.8rem;
    color: var(--marrom-escuro);
    font-weight: bold;
}
.card-content{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}
.card-button{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--marrom-maisclaro);
    border-radius: 5px;
    opacity: 60%;
    padding: 5px;
    cursor: pointer;
}
.main-img{
    width: 40%;
}

/* Estilização Lista */

/* Restaurantes */

.restaurantes{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    /* margin: 30px 0; */

}

h2{
    font-size: 2.1rem;
} 

.container{
    display: flex;
    overflow: auto;
    flex: none;
    flex-flow: row nowrap;
    gap: 15px;
    width: 100%;
    padding: 5px;
}

.container > a {
    scroll-snap-align: center;
    flex: none;
    text-decoration: none;
    text-align: center;    
}

.mandatory-scroll-snapping{
    scroll-snap-type: x mandatory;
}

.card-lista{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
    width: 24%;
    border: 1px solid darkgrey;
    box-shadow: 2px 2px 2px var(--marrom-escuro);
    padding: 10px; 
}

.card-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--marrom-escuro);

}

.card-nome{
    font-size: 1.4rem;
}

.card-conteudo p{
    font-size: 1.2rem;
}

.logo-lista{
    border-radius: 50%;
}
.promotions{
    width: 90%;
}
.promotion-img{
    width: 32.5%;
}
/*Mercados*/

.mercados{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    /* margin: 30px 0; */

}

/*Estilização do footer*/

footer{
    grid-row: 3/-1;
    height: 15vh;
    width: 100%;
    background-color: var(--marrom-maisclaro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}
.social-media{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    height: 100%;

}
.social-media a{
    text-decoration: none;
}
.social-media i{
    font-size: 5rem;
    color: var(--marrom-escuro);
}
.footer-texto{
    font-size: 2rem;
}
/* Estilização da pagina de login*/

#main-login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.main-login-container{
    background-color: white;
    height: 70%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10PX;
}

.main-caixa-login{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-caixa-login input{
    border: none;
    outline: none;
    padding: 5px;
    border-bottom: 1px solid var(--marrom-escuro);
}

.main-caixa-login label{
    font-size: 1.4rem;
    color: var(--marrom-escuro);
}

#main-frase-login{
    color: var(--marrom-escuro);
}
#icone-login{
    font-size: 5rem;
    color: var(--marrom-escuro);
}

#button-login{
    border: none;
    outline: none;
    padding: 8px;
    background-color: var(--marrom-maisclaro);
    color: var(--marrom-escuro);
    border-radius: 5px;
    font-weight: bold;
}

/* estilização pagina de cadastro */

/* media do site */

@media screen and (min-device-width : 320px) and (max-device-width : 480px){
    .nav-desktop{
        display: none;
    }
    .nav-mobile{
       display: flex;
        
    }
    
    .icone-menu:hover .mobile-items{
        color:black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top:15vh;
        left: 0px;
        width: 100%;
        /* transition-delay: 250ms; */
        
    }
    
    /* estilo texto main  */
    #main-text-title{
        font-size: 1.8rem;
    }
    #main-texto-menor{
        font-size: 1.1rem;
    }
    /* estilo busca  */
    .main-localiza{
        width: 90%;
    }
    .main-localiza-input{
       gap:5px;
    }
    #search-input{
        font-size: 1rem;
    }
    #icon-local{
        font-size: 1.4rem;
    }
    #search-button{
        font-size: 1.1rem;
        padding: 8px;
    }
    /* estilizaação dos cards main  */
    .main-cards-options{
        width: 90%;
    }
    .card-option{
        width: 45%;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 2px 2px 2px darkgray;
        text-decoration: none;
    }
    .card-title{
        font-size: 1.2rem;
    }
    .card-content{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .card-button{
        width: 40px;
        font-size: 0.5rem;
        font-weight: bold;
        padding: 4px;
    }
    .card-button span i{
        font-size: 0.5rem;
    }
    .main-img{
        height: 40px;
    }

   /* estilização melhores restaurante  */
    .container{
        gap: 10px;
        padding: 5px;
        max-width: 90vw;
    }
    .card-lista{
        gap: 10px;
        width: 48%;
        padding: 10px;
    }
    .logo-lista{
        width: 50%;
        gap:10px;
        padding: 10px;
    }
    .texto-lista{
        font-size: 1.2rem;
    }
    .card-nome{
        font-size: 0.8rem;
    }
    .card-conteudo p{
        font-size: 0.8rem;
    }
    /* estilização promoçoes do dia  */
    #promotions-title{
        font-size: 1.2rem;
    }
    .promotion-img{
        width: 60%;
    }
    /* estilo footer  */
    .footer-texto{
        font-size: 1rem;
    }
    footer{
        gap:20px;
        padding: 30px;
    }
    .social-media i {
        font-size: 2rem;
    }
    /* estilização pagina login  */
    .main-login-container{
        width: 80%;
    }

}

