/* ================================  */
/* Estilização do projeto 4food  */
/* ================================  */
/* Estilo geral do site  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--marrom-maisclaro)
}
*::-webkit-scrollbar-track {
    background: var(--fundo-pag)
}
html {
    font-size: 10px;
}
:root{
    --marrom-escuro: #532728;
    --marrom-claro: #f3ddb6;
    --marrom-maisclaro:#d6bf93;
    --fundo-pag:#d6bf932f;

}
.container-mae {
    display: grid;
    grid-template-rows: 15vh 1fr 15vh;
    width: 100vw;
}
/* =========================  */
/* Estilização do header */
/* =========================  */
header{
    grid-row: 1/2;
    background-color: var(--marrom-escuro);
    height: 100%;
    width: 100%;
}
.nav-desktop{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 20px;
}
.nav-desktop a:hover{
    color:var(--marrom-claro);
}
.nav-esq{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    height: 100%;
    gap: 25px;
}
.nav-esq a{
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    color:white;
}
#logo{
    height: 90%;
    border-radius: 50%;
}
.nav-dir a{
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    color:white;
}
.nav-dir{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}
/* =================================== */
/* início do header mobile */
/* ========================================= */
/* container principal */
.nav-mobile{
    display:none;
    height: 100%;
    padding: 20px;
}
.nav-mobile a{
    height: 100%;
}
#logo-mobile{
    height: 90%;
    border-radius: 50%;
}
/* nav sem apresentar os itens de navegação */
.mobile-before{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.mobile-before i{
    color: var(--marrom-maisclaro);
    font-size: 4rem;
    cursor:pointer;
}
.mobile-items{
    display: none;
    background-color: var(--marrom-escuro);
    padding: 10px;
}
.mobile-items a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;  
    padding: 5px;
    width: 100%;
    text-align: center;
}
/* ========================================= */
/* main */
/* ========================================= */
main{
    grid-row: 2/3;
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fundo-pag);
    gap:20px;
    padding: 20px;
}
/* estilização texto da main  */
.main-frase{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#main-text-title{
    font-size: 3rem;
}
#main-texto-menor{
    font-size: 1.7rem;
    color: rgb(77, 74, 74);
}
/* estilização da busca pela localização  */
.main-localiza{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px; 
}
.main-localiza-input{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px -2px darkgray 
}
#search-input{
    width: 98%;
    padding: 5px;
    font-size:1.5rem;
    border: none;
    outline: none;
}
#icon-local{
    font-size: 1.8rem;
    color: var(--marrom-escuro);
}
#search-button{
    cursor: pointer;
    border:none;
    border-radius: 5px;
    outline: none;
    background-color: var(--marrom-escuro);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px;
}
/* ========================================= */
/* estilização dos cards de mercado e restaurante  */
/* ========================================= */
.main-cards-options{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}
.card-option{
    width: 45%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 2px darkgray;
    text-decoration: none;
}
.card-title{
    font-size: 2.8rem;
    color: var(--marrom-escuro);
    font-weight: bold;
}
.card-content{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}
.card-button{
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--marrom-maisclaro);
    border-radius: 5px;
    opacity: 60%;
    padding: 5px;
    cursor: pointer;
}
.main-img{
    width: 40%;
}
/* ========================================= */
/* Estilização Lista */
/* ========================================= */
/* Restaurantes */
.restaurantes{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    /* margin: 30px 0; */

}
h2{
    font-size: 2.1rem;
} 
.container{
    display: flex;
    overflow: auto;
    flex: none;
    flex-flow: row nowrap;
    gap: 15px;
    width: 100%;
    padding: 5px;
}
.container > a {
    scroll-snap-align: center;
    flex: none;
    text-decoration: none;
    text-align: center;    
}
.mandatory-scroll-snapping{
    scroll-snap-type: x mandatory;
}
.card-lista{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
    width: 24%;
    border: 1px solid darkgrey;
    box-shadow: 2px 2px 2px var(--marrom-escuro);
    padding: 10px; 
}
.card-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--marrom-escuro);
}
.card-nome{
    font-size: 1.4rem;
}
.card-conteudo p{
    font-size: 1.2rem;
}
.logo-lista{
    border-radius: 50%;
}
.promotions{
    width: 90%;
}
.promotion-img{
    width: 32.5%;
}
/*Mercados*/
.mercados{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
}
/* ========================================= */
/*Estilização do footer*/
/* ========================================= */
footer{
    grid-row: 3/-1;
    height: 100%;
    width: 100%;
    background-color: var(--marrom-maisclaro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}
.social-media{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    height: 100%;
}
.social-media a{
    text-decoration: none;
}
.social-media i{
    font-size: 5rem;
    color: var(--marrom-escuro);
}
.footer-texto{
    font-size: 2rem;
}
/* ========================================= */
/* estilização pagina de cadastro de lojas  */
/* ========================================= */
#main-cadastro-loja{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#big-title{
    font-size: 3rem;
    font-weight: 300;
}
#logo-name{
    color: var(--marrom-escuro);
    font-weight: 600;
}
.img-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}
.card-cadastro{
    background-color: var(--marrom-escuro);
    width: 30%;
    cursor: pointer;
}
.card-cadastro:hover{
    box-shadow: 2px 4px 22px 7px var(--marrom-escuro);
}
.img-card-cadastro{
    width: 100%;
}
.body-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
.body-card>i{
    font-size: 2rem;
    color: white;
}
.body-card-text{
    display: flex;
    gap: 20px;
}
.icon-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    color: var(--marrom-escuro);
}
.icon-card i{
    font-size: 3rem;
}
.card-text-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
}
.not-bold{
    font-weight: 200;
}
/* estilização pop up do cadastro  */
#cadastro-loja{
    position: absolute;
    top: 18vh;
    background-color: white;
    width: 50vw;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    gap: 10px;
    border-radius: 5px;
}
#cadatro-title{
    font-size: 2.5rem;
    color: var(--marrom-escuro);
    text-align: center;
}
#text-cadastro-loja{
    font-size: 1.4rem;
    color: var(--marrom-maisclaro);
    font-weight: bold;
    text-align: center;
}
.input-cadastro{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
}
.label-cadastro{
    font-size: 1.7rem;
    color: var(--marrom-escuro);
    font-weight: 700;
}
.input-list{
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    box-shadow: 2px 2px 2px var(--marrom-escuro);
    font-size: 1.4rem;
}
.popup-btn{
    background-color: var(--marrom-escuro);
    color: white;
    padding: 10px;
    font-size: 1.4rem;
    border: none;
    box-shadow: 2px 2px 2px darkgray;
    border-radius: 5px;
}
#btnControl{
    display: none;
}
#btnControl:checked+label #cadastro-loja{
    display: flex;
}
/* =======================================  */
/* estilização pagina quem somos  */
/* ==========================================  */
.main-quem-somos {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 3% 15%;
    color: var(--marrom-escuro);
    font-size: 2.3rem;
    text-align: justify;
}
.container-quem-somos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    box-shadow: 0px 2px var(--marrom-escuro);
    gap: 60px;
}
.texto-sobre-nos{
    padding: 3% 0%;
    display: flex;
    flex-direction:column;
    align-items: center ;
    width: 90%;
}
.texto-sobre-nos>h1{
    padding: 3%;
    font-size: 4.3rem;
    display:flex;
    align-self:center;

}
.container-quem-somos > img{
    display: flex;
    align-self:flex-end;
    border-radius: 50%;
    width: 40%;
    padding: 3% 0%;
    margin: auto;
}
.texto-nosso-compromisso{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 2.1rem;
    padding: 0 0 5% 0;
    box-shadow: 0px 2px var(--marrom-escuro);

}
.texto-nosso-compromisso>h1{
    padding: 2%;
    font-size: 3.1rem;
    display:flex;
    align-self:center;
}
#titulo-team{
    font-size: 3.4rem;
    display:flex;
    align-self:flex-start;
}
.container-nosso-team{
    display: flex;
    overflow: auto;
    flex: none;
    flex-flow: row nowrap;
    gap: 15px;
    width: 100%;
    padding: 5px;
}

.foto {
    width: 50%;
    border-radius: 50%;
}
.quem-somos-card{
    width: 35%;
}
/* ========================================= */
/* Estilização da pagina de login*/
/* ========================================= */
#main-login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px;
}
.main-login-container{
    background-color: white;
    height: 90%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10PX;
}
.main-caixa-login{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 70%;
}
.main-caixa-login input{
    border: none;
    outline: none;
    padding: 5px;
    border-bottom: 1px solid var(--marrom-escuro);
}
.main-caixa-login label{
    font-size: 1.7rem;
    color: var(--marrom-escuro);
}

#main-frase-login{
    color: var(--marrom-escuro);
    font-size: 2rem;
}
#icone-login{
    font-size: 5rem;
    color: var(--marrom-escuro);
}
#button-login{
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: var(--marrom-maisclaro);
    color: var(--marrom-escuro);
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.6rem;
}
.login-options{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.1rem;
}
.login-options a{
    color: var(--marrom-escuro);
}
.conecta{
    display: flex;
    align-items: center;
    gap: 2px;
}
/* ========================================= */
/* estilização pagina de cadastro */
/* ========================================= */
#main-cadastro{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.cadastro-container{
    width: 50%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
}
.cadastro-container h1{
    color: var(--marrom-escuro);
    margin-bottom: 30px;
}
.cadastro{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;  
    gap:10px
}
.cadastro label{
    font-size: 1.4rem;
    color: var(--marrom-escuro);
    font-weight: bold;
}
.cadastro input{
    border: none;
    outline: none;
    height: 8%;
    padding: 5px;
    font-size: 1.4rem;
    box-shadow: 2px 2px 2px var(--marrom-escuro);
}
.button-con{
    height: 20%;
}
#button-cadastrar{
    padding: 15px;
    margin: 20px 0px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: var(--marrom-maisclaro);
    color: var(--marrom-escuro);
    font-weight: bold;
    font-size: 1.6rem;
    box-shadow: 2px 2px 2px var(--marrom-escuro);
}
#button-cadastrar:hover{
    background-color: var(--marrom-escuro);
    color: var(--marrom-maisclaro);
    box-shadow: 2px 2px 2px darkgray;
}
/* ========================================= */
/* media do site */
/* ========================================= */
@media screen and (min-device-width : 320px) and (max-device-width : 480px){
    *::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    /* ===================  */
    /* estilo da navBar  */
    /* ===================  */
    .nav-desktop{
        display: none;
    }
    .nav-mobile{
       display: flex; 
    }
    .icone-menu:hover .mobile-items{
        color:black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top:15vh;
        left: 0px;
        width: 100%;  
    }
    /* ===================  */
    /* estilo texto main  */
    /* ===================  */
    #main-text-title{
        font-size: 1.8rem;
    }
    #main-texto-menor{
        font-size: 1.1rem;
    }
    /* ===================  */
    /* estilo busca  */
    /* ===================  */
    .main-localiza{
        width: 90%;
    }
    .main-localiza-input{
       gap:5px;
    }
    #search-input{
        font-size: 1rem;
    }
    #icon-local{
        font-size: 1.4rem;
    }
    #search-button{
        font-size: 1.1rem;
        padding: 8px;
    }
    /* ===================  */
    /* estilizaação dos cards main  */
    /* ===================  */
    .main-cards-options{
        width: 90%;
    }
    .card-option{
        width: 45%;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 2px 2px 2px darkgray;
        text-decoration: none;
    }
    .card-title{
        font-size: 1.2rem;
    }
    .card-content{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .card-button{
        width: 40px;
        font-size: 0.5rem;
        font-weight: bold;
        padding: 4px;
    }
    .card-button span i{
        font-size: 0.5rem;
    }
    .main-img{
        height: 40px;
    }
    /* ===================  */
    /* estilização melhores restaurante  */
    /* ===================  */
    .container{
        gap: 10px;
        padding: 5px;
        max-width: 90vw;
    }
    .card-lista{
        gap: 10px;
        width: 48%;
        padding: 10px;
    }
    .logo-lista{
        width: 50%;
        gap:10px;
        padding: 10px;
    }
    .texto-lista{
        font-size: 1.2rem;
    }
    .card-nome{
        font-size: 0.8rem;
    }
    .card-conteudo p{
        font-size: 0.8rem;
    }
    /* ===================  */
    /* estilização promoçoes do dia  */
    #promotions-title{
        font-size: 1.2rem;
    }
    .promotion-img{
        width: 60%;
    }
    /* ===================  */
    /* estilo footer  */
    /* ===================  */
    .footer-texto{
        font-size: 1rem;
    }
    footer{
        gap:20px;
        padding: 30px;
    }
    .social-media i {
        font-size: 2rem;
    }
    /* ================================  */
    /* estilo pagina quem somos */
    /* ================================ */
    .texto-sobre-nos>h1{
        font-size: 1.4rem;
    }
    .container-quem-somos{
        flex-direction: column;
        justify-content: center;
        font-size: 1.1rem;
        align-items: center;
        gap: 10px;
    }
    .container-quem-somos > img{
        width: 40%;
        margin: auto;
        padding-bottom: 10px;
    }
    .texto-nosso-compromisso>h1{
        font-size: 1.4rem;

    }
    .texto-nosso-compromisso{
        font-size: 1.1rem;
        /* box-shadow: 2px 2px 2px var(--marrom-escuro); */
        padding: 5px;
    }
    .quem-somos-card{
        width: 70%;
    }

    #titulo-team{
        font-size: 1.4rem;

    }

    #texto-nosso-team{
        font-size: 1.1rem;
    }
    /* ===================  */
    /* estilização pag cadastro de lojas  */
    /* ===================  */
    #big-title{
        font-size: 2rem;
    }

    .img-content{
        gap: 10px;
    }
    .card-cadastro{
        width: 45%;
    }
    .body-card{
        padding: 5px;
    }
    .body-card>i{
        font-size: 1.2rem;
    }
    .body-card-text{
        gap: 10px;
    }
    .icon-card{
        width: 30px;
        height: 30px;
    }
    .icon-card i{
        font-size: 2rem;
    }
    .card-text-content{
        font-size: 0.8rem;
        font-weight: 300;
    }
    .not-bold{
        font-weight: 100;
    }
    /* estilização pop up do cadastro  */
    #cadastro-loja{
        width: 80vw;
        height: 60%;
        gap: 20px;
    }
    #cadatro-title{
        font-size: 2rem;
    }
    #text-cadastro-loja{
        font-size: 1rem;
    }
    .label-cadastro{
        font-size: 1.3rem;
    }
    .input-list{
        font-size: 1.1rem;
    }
    .popup-btn{
        font-size: 1.2rem;
    }
    /* ===================  */
    /* estilização pagina login  */
    /* ===================  */
    .main-login-container{
        width: 80%;
        gap: 10px;
    }
    .main-caixa-login{
        gap: 10px;
    }
    .login-options{
        flex-direction: column;
        gap: 5px;
        font-size: 1.1rem;
        margin: 10px;
    }
    #main-frase-login{
        font-size: 1.7rem;
    }
    .main-caixa-login label{
        font-size: 1.5rem;
    }
    #button-login{
        font-size: 1.5rem;
        padding: 5px 10px;
    }
    /* ===================  */
    /* estilização pagina cadastro  */
    /* ===================  */
    .cadastro-container{
        width: 90%;
        height: 60vh;
        padding: 8px 20px ;
    }
    .cadastro-container h1{
        font-size: 1.7rem;
        margin-bottom: 5px;
    }
    #button-cadastrar{
        font-size: 1.2rem;
        padding: 10px;
    }

}
